.prenav{
    background:#171717;
    min-height: 44px;
    max-height: 44px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    overflow: hidden;
    position: fixed;
    width:100%;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
    z-index: 1;
}


.prenavContent{
    display:grid;
    grid-template-columns: 52px 10fr 1fr 1fr 1fr 1fr 134px;
    align-items: center;
    padding-left:40px;
}

.prenav .prenavBtn{
background:#B40101;
color:#fff;
padding:14px 40px;
font-size:14px;
text-decoration: none;
opacity: 1 !important;
}

.prenav p{
    color:#fff !important;
    text-align: center;
    font-size:12px;
    margin:0 auto;
    opacity: 0.7;
}


.prenav p a{
    color:#fff !important;
    text-align: center;
    font-size:12px;
    margin:0 auto;
    opacity: 0.7;
}

.prenav p{
    color:#fff;
    text-decoration: none;
}

.prenav p:hover{
    color:#fff;
    opacity:1;
}

.prenav .prenavBtn:hover{
    background:#d40101;
    color:#fff;
    }
    


.header{
    z-index: 1;
    position:fixed;
    width:100%;
    margin:0;
    margin-top:44px;
    background: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.07);
    min-height: 80px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
    max-height: 80px;
}

.headerShrink{
    margin-top:0 !important;
}

.headerContent{
    max-width: 1440px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 54px 1fr auto;
    grid-gap:25px;
    align-items: center;
}

.header .main-logo{
    max-width:54px;
    max-height:36px;
    justify-items: left;
}


.header .siteTitle{
font-size: 24px;
color: #494949;
font-weight:600;
letter-spacing: 0.43px;
line-height:1.4;
text-decoration: none;
}

.header .siteTitle a{
    text-decoration: none;
    }

    .header .headerBtnPrimary{
        color:#fff;
        background:#B40101;
font-size:14px;
letter-spacing: .6px;
        padding:2px 25px;
        text-decoration: none;
    }